// devices
extraSmall = 'only screen and (max-width: 320px)'
phone = 'only screen and (max-width: 480px)'
tablet = 'only screen and (min-width: 481px) and (max-width: 800px)'
desktop = 'only screen and (min-width: 801px)'
extraLarge = 'only screen and (min-width: 980px)'

//colors
grey = #989898
//sizes
thumbnail = 50px
title = 20px

//functions
verticalCenter()
  display flex
  flex-flow column
  align-items center
  justify-content center
